body {
    padding:0;
    margin:30px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:15px;

}

#movieDataTable {
    width:100%;
    justify-items: center;

}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
}

td,
th {
    border: 1px solid #000000;
    text-align: center;
    padding: 8px;
}

form {
    display:flex;
    flex-direction: column;
}