body {
    padding:0;
    margin:30px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:15px;

}

#movieDataTable {
    width:100%;
    justify-items: center;

}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
}

td,
th {
    border: 1px solid #000000;
    text-align: center;
    padding: 8px;
}

#movieFormContainer {
    width:50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

form {
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

label {
    margin:10px 0;
}

input {
    padding:5px;
}

#submitbtn {
    width:20%;
    align-items: center;
    margin: 20px auto;


}

#rating {
    font-style: italic;
}