body {
    padding:0;
    margin:30px;
    font-family:'Courier New', Courier, monospace;
    background-color:#F2E2BA;
    color: #8B575C;
}

select, input {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:15px;

}

#movieDataTable {
    width:100%;
    justify-items: center;
    background-color: #CBBAED;

}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
    border-color: #BAF2E9;
}

td,
th {
    border: 1px solid #000000;
    text-align: center;
    padding: 8px;
}

#movieFormContainer {
    width:50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

form {
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

label {
    margin:10px 0;
}

input {
    padding:5px;
}

#submitbtn {
    width:20%;
    align-items: center;
    margin: 20px auto;


}

#rating {
    font-style: italic;
}